@keyframes emerge {
  from {
    opacity: 0;
    margin-top: -1%;
  }

  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'Baskerville';
  src: local('Baskerville'), url(./fonts/BASKVILL.TTF) format('truetype');
}

* {
  font-family: Baskerville;
  letter-spacing: .1rem;
}

html {
  background-image: url("../public/img/0037105316_130.jpg");
  background-color: black;
  color: white;
}

.releaseTitle {
  text-transform: uppercase;
  font-size: medium;
}

a {
  color: rgb(236, 212, 212);
  text-decoration: rgb(236, 212, 212);
}

.rightAngle {
  opacity: 0.2;
  margin: 0;
}

hr {
  border-width: 0;
}

.bioContainer {
  margin-bottom: 2em;
}

.releasesContainer {
  animation: 1.2s emerge;
}

.lyricsContainer {
  white-space: pre-line;
}

.tabsContainer {
  margin: 3em 0 3em 0;
}

.backToIndexDiv {
  margin-bottom: 3em;
}

span {
  font-size: smaller;
}

.songTitleDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  height: 14px;
}

.songItemLink {
  margin: 3px;
  display: flex;
  align-items: center;
}

.streamingServiceImg {
  margin: 0 0.3em 0 0;
  width: 42px;
  height: 42px;
}

.PdfDocIconImg {
  margin: 0 0.3em 0 0;
  width: 27px;
  height: 33px;
}

footer {
  text-align: center;
  font-size: smaller;
  position: fixed;
  bottom: 0;
  opacity: 40%;
}