@keyframes emerge {
  from {
    opacity: 0;
    margin-top: -1%;
  }

  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'Baskerville';
  src: local('Baskerville'), url(./fonts/BASKVILL.TTF) format('truetype');
}

* {
  font-family: Baskerville;
  letter-spacing: .1rem;
  text-transform: uppercase;
  font-size: small;
}

html {
  background-image: url("../public/img/0037105316_130.jpg");
  background-color: black;
  color: white;
}

.releaseTitle {
  text-transform: uppercase;
  font-size: medium;
}

a {
  color: brown;
  text-decoration: underline;
}

.rightAngle {
  opacity: 0.2;
}

hr {
  border-width: 0;
}

.bioContainer {
  margin-bottom: 2em;
}

.releasesContainer {
  animation: 1.2s emerge;
}

.lyricsContainer {
  white-space: pre-line;
}

span {
  margin: 0 0.5em;
}

.streamingServiceImg {
  margin: 0 0.3em 0 0;
  width: 42px;
  height: 42px;
}

footer {
  text-align: center;
  font-size: smaller;
  position: fixed;
  bottom: 0;
  opacity: 40%;
}