@keyframes emerge {
  from {
    opacity: 0;
    margin-top: -0.4%;
  }

  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'Baskerville';
  src: local('Baskerville'), url(./fonts/BASKVILL.TTF) format('truetype');
}

* {
  font-family: Baskerville;
  letter-spacing: .1rem;
}

html {
  background-image: url("../public/img/p3_inverted.avif");
  background-size: cover;
  background-repeat: repeat-y;
  background-color: white;
  color: black;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  /* text-shadow: 2px 2px white; */
}

body {
  animation: 1.2s emerge;
  margin: 3px;
}

header img {
  filter: invert(1);
}

nav {
  margin-left: 2em;
  opacity: 0.83;
}

.page {
  margin-top: 4em;
  margin-bottom: 4em;
}

h2,
.releaseTitle {
  text-transform: uppercase;
  font-size: medium;
}

a {
  color: black;
  /* text-decoration: underline dotted rgba(217, 217, 217, 0.6); */
}

.rightAngle {
  opacity: 0.2;
  margin: 0;
}

hr {
  border-width: 0;
}

audio {
  text-shadow: none;
}

.bioContainer {
  max-width: 500px;
  margin-bottom: 2em;
  text-align: justify;
}

ul li {
  margin-bottom: -1px !important;
  margin: 0;
  padding: 0;
  list-style: none;
}

.bioContainer,
.lyricsContainer {
  line-height: 0.97;
  white-space: pre-line;
}

.tabsContainer {
  margin: 3em 0 3em 0;
}

span,
.medleyText,
.commentText {
  font-size: smaller;
}

.commentText {
  white-space: pre-line;
}

.titleInMedley {
  font-size: small;
  font-style: italic;
  font-weight: bold;
}

.songTitleDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: normal;
  display: flex;
  align-items: center;
  height: 17px;
}

.songItemLink {
  margin: 3px;
  display: flex;
  align-items: center;
}

.streamingServiceImg {
  margin: 0 0.3em 0 0;
  width: 42px;
  height: 42px;
}

.PdfDocIconImg {
  margin: 0 0.3em 0 0;
  width: 27px;
  height: 33px;
}

header,
footer {
  text-align: left;
  font-size: smaller;
}

header {
  top: 0;
}

footer {
  bottom: 0;
  opacity: 85%;
  background-color: black;
  position: fixed;
}

audio {
  border-radius: 15px;
}