@keyframes emerge {
  from {
    opacity: 0;
    margin-top: -0.4%;
  }

  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'Baskerville';
  src: local('Baskerville'), url(./fonts/BASKVILL.TTF) format('truetype');
}

* {
  font-family: Baskerville;
  letter-spacing: .1rem;
}

html {
  background-image: url("../public/img/0037105316_130.jpg");
  background-color: black;
  color: white;
}

body {
  animation: 1.2s emerge;
  margin: 3px;
}

.page {
  margin-top: 4em;
}

h2, .releaseTitle {
  text-transform: uppercase;
  font-size: medium;
}

a {
  color: rgb(217, 217, 217);
  text-decoration: rgb(217, 217, 217);
}

.rightAngle {
  opacity: 0.2;
  margin: 0;
}

hr {
  border-width: 0;
}

.bioContainer {
  max-width: 500px;
  margin-bottom: 2em;
  text-align: justify;
}

ul li {
  margin-bottom: -1px !important;
  margin: 0;
  padding: 0;
  list-style: none;
}

.bioContainer, .lyricsContainer {
  line-height: 0.97;
  white-space: pre-line;
}

.tabsContainer {
  margin: 3em 0 3em 0;
}

.backToIndexDiv {
  margin-bottom: 3em;
}

span {
  font-size: smaller;
}

.songTitleDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: normal;
  display: flex;
  align-items: center;
  height: 14px;
}

.songItemLink {
  margin: 3px;
  display: flex;
  align-items: center;
}

.streamingServiceImg {
  margin: 0 0.3em 0 0;
  width: 42px;
  height: 42px;
}

.PdfDocIconImg {
  margin: 0 0.3em 0 0;
  width: 27px;
  height: 33px;
}

header,
footer {
  text-align: center;
  font-size: smaller;
  position: fixed;
}

header {
  top: 0;
}

footer {
  bottom: 0;
  opacity: 85%;
}